<h1>ToDo List</h1>
<div class="signup">
	<h2>Sign Up Here</h2>
	<form class="input-form" method="post">
		<input class="input input-name" type="text" name="name" placeholder="User Name"/>
		<button class="btn-default" id="submit" type="submit">Signup!</button>
	</form>
</div>
